<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.NetCore" version="1.8.5" targetFramework="net48" />
  <package id="chilkat-x64" version="9.5.0.82" targetFramework="net48" />
  <package id="Crc32.NET" version="1.2.0" targetFramework="net48" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net48" />
  <package id="DotNetZip" version="1.13.7" targetFramework="net48" />
  <package id="SevenZip" version="19.0.0" targetFramework="net48" />
  <package id="SHA3.Net" version="1.2.3" targetFramework="net48" />
  <package id="SharpCompress" version="0.25.0" targetFramework="net48" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net48" />
  <package id="Smash" version="0.3.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net48" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net48" />
</packages>